br {
  &.sm {
    display: none;

    @media (--sm) {
      display: block;
    }
  }

  &.md {
    display: none;

    @media (--md) {
      display: block;
    }
  }

  &.lg {
    display: none;

    @media (--lg) {
      display: block;
    }
  }

  &.xl {
    display: none;

    @media (--xl) {
      display: block;
    }
  }

  &.sm_max {
    display: none;

    @media (--sm_max) {
      display: block;
    }
  }

  &.md_max {
    display: none;

    @media (--md_max) {
      display: block;
    }
  }

  &.lg_max {
    display: none;

    @media (--lg_max) {
      display: block;
    }
  }

  &.xl_max {
    display: none;

    @media (--xl_max) {
      display: block;
    }
  }
}

p {
  &.u-es {
    font-size: 10px;
  }

  &.u-s {
    font-size: 12px;
  }

  &.u-m {
    font-size: 14px;
  }

  &.u-l {
    font-size: 16px;
  }

  &.u-xl {
    font-size: 18px;
  }
}
