%section___margin {
  margin: 30px 0;

  @media (--sm) {
    margin: 60px 0;
  }

  @media (--md) {
    margin: 100px 0;
  }
}

%section___padding {
  padding: 30px 0;

  @media (--sm) {
    padding: 60px 0;
  }

  @media (--md) {
    padding: 100px 0;
  }
}

#styleguide {
  padding: 60px 0;
  background: $color-main-light;

  .b1 {
    .m-page-title {
      margin-bottom: 40px;
      text-align: center;
    }

    .b1-container {
      padding: 5%;
      background: $color-white;

      @media (--md) {
        padding: 40px;
      }
    }

    .page-title,
    .m-section-title,
    .m-block-title__border,
    .m-block-title,
    .m-link__text,
    .m-link {
      margin: 20px 0;
    }
  }

  .b2 {
    .breadcrumbs {
      margin: 30px 0;
    }

    .l-col3__item,
    .l-col4__item {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}

#link {
  .link-archive {
    .m-page-title {
      @extend %m-section-title___margin;
    }

    .m-block-list__item {
      margin-bottom: 20px;

      @media (--md) {
        margin-bottom: 30px;
      }
    }
  }
}

#topics {
  .topics-archive {
    .m-page-title {
      @extend %m-section-title___margin;
    }

    .c-topics {
      padding: 0 0 30px;

      @media (--md) {
        padding: 0 0 50px;
      }
    }

    .c-pagination {
      margin-bottom: 60px;
      text-align: center;

      @media (--md) {
        margin-bottom: 100px;
      }
    }
  }

  .topics-single {
    .m-page-title {
      @extend %m-section-title___margin;
    }

    .topics-header {
      padding-bottom: 15px;
      font-size: 16px;
      border-bottom: 2px solid #000;

      @media (--md) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        font-size: 20px;
      }

      .topics-header__heading {
        font-weight: bold;

        @media (--md) {
          width: 70%;
        }

        @media (--lg) {
          width: 80%;
        }
      }

      .topics-header__category {
        display: flex;
        margin-top: 5px;
        border-radius: 5px;

        @media (--md) {
          margin-top: 0;
          font-size: 14px;
        }

        .item {
          display: flex;
          align-items: center;
          margin: 0 3px;
          line-height: 1;

          a {
            display: block;
            padding: 8px 20px;
            font-size: 12px;
            text-align: center;
            color: $color-main;
            border-radius: 6px;
            background: $color-main-light;

            &:hover {
              &:hover {
                background: $color-main;
                color: $color-white;
              }
            }
          }
        }
      }
    }

    .c-paging {
      margin: 20px 0;

      @media (--md) {
        margin: 35px 0;
      }
    }

    .m-link {
      margin: 20px 0 60px;

      @media (--md) {
        margin: 40px 0 80px;
      }

      a {
        margin: 0 auto;
      }
    }

    .topics-time {
      margin-top: 10px;
      font-size: 12px;
      color: #9f9f9f;
    }
  }
}

#company {
  .company-information {
    .m-page-title {
      @extend %m-section-title___margin;
    }

    .m-block-title {
      @extend %m-block-title___margin;
    }

    .c-table-list__item {
      &.access {
        .access-text {
          margin-bottom: 10px;

          @media (--md) {
            margin-bottom: 20px;
          }
        }

        .access-img {
          margin-bottom: 10px;
        }

        .access-google {
          iframe {
            width: 100%;
            height: 260px;

            @media (--md) {
              height: 400px;
            }
          }
        }
      }
    }
  }

  .company-pdf {
    padding: 40px 0;
    background: $color-main-light;
    text-align: center;

    @media (--md) {
      padding: 60px 0;
    }

    .m-block-title {
      text-align: center;
    }

    .u-m {
      margin: 6px 0;

      @media (--md) {
        margin: 10px 0 18px;
      }
    }

    .m-link {
      a {
        margin: 0 auto;
      }
    }
  }
}

#camp {
  .camp-information {
    .m-page-title {
      @extend %m-section-title___margin;
    }

    .m-block-title {
      @extend %m-block-title___margin;
    }
  }

  .camp-contact {
    margin: 40px 0 0;
    background: $color-main-light;
    text-align: center;
    overflow: hidden;

    @media (--md) {
      margin: 100px 0 0;
    }

    .l-col2__item {
      padding: 30px 0;

      @media (--md) {
        background: $color-main-light;
      }

      &:first-child {
        @media (--sm_max) {
          border-bottom: 2px solid $color-white;
        }

        @media (--sm) {
          border-right: 4px solid $color-white;
        }
      }
    }

    .u-m {
      margin: 6px 0;

      @media (--md) {
        margin: 10px 0 18px;
      }
    }

    .m-link {
      a {
        margin: 0 auto;
      }
    }
  }

  .camp-guide {
    margin-bottom: 40px;

    @media (--md) {
      margin-bottom: 60px;
    }

    @media (--lg) {
      margin-bottom: 100px;
    }

    .m-block-title {
      @extend %m-block-title___margin;
    }
  }

  .camp-leisure {
    @extend %section___padding;

    background: $color-main-light;

    .m-block-title {
      @extend %m-block-title___margin;
    }

    .l-col3__item {
      margin-top: 15px;
      margin-bottom: 15px;

      .m-card-title {
        margin: 4px 0;
        text-align: center;

        @media (--md) {
          margin: 10px 0;
        }
      }
    }
  }

  .camp-price {
    @extend %section___margin;

    .m-block-title {
      @extend %m-block-title___margin;
    }

    .camp-price__usage {
      border-right: solid 6px #33a029;
      border-left: solid 6px #33a029;
      border-bottom: solid 6px #33a029;
      margin-bottom: 40px;

      @media (--md) {
        margin-bottom: 60px;
      }

      tr {
        &:first-child {
          th {
            background: #33a029;
            color: $color-white;

            @media (--md) {
              &:nth-child(4) {
                min-width: 250px;
              }
            }
          }
        }

        td {
          background-color: #f4f7f4;
        }
      }
    }

    .camp-price__rental {
      border-right: solid 6px #ffa428;
      border-left: solid 6px #ffa428;
      border-bottom: solid 6px #ffa428;
      margin-bottom: 40px;

      @media (--md) {
        margin-bottom: 60px;
      }

      tr {
        &:first-child {
          th {
            background: #ffa428;
            color: $color-white;
          }
        }

        td {
          background-color: #fff4ea;

          &:nth-child(2n-1) {
            background: $color-white !important;
          }
        }
      }
    }

    .camp-price__sale {
      border-right: solid 6px #ff88b9;
      border-left: solid 6px #ff88b9;
      border-bottom: solid 6px #ff88b9;
      margin-bottom: 40px;

      @media (--md) {
        margin-bottom: 60px;
      }

      tr {
        &:first-child {
          border-top: solid 6px #ff88b9;

          th {
            background: #ff88b9;
            color: $color-white;
          }
        }

        td {
          background-color: #fff5fb;

          &:nth-child(2n-1) {
            background: $color-white !important;
          }
        }
      }
    }
  }
}

#contact {
  .contact-form {
    .m-page-title {
      @extend %m-section-title___margin;
    }

    .contact-form__lead {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  .contact-complete {
    @media (--md) {
      text-align: center;
    }

    .m-page-title {
      @extend %m-section-title___margin;
    }

    .m-block-title {
      @extend %m-block-title___margin;
    }

    .u-l {
      line-height: 1.8;
    }

    .u-s {
      margin-top: 10px;

      @media (--md) {
        margin-top: 30px;
      }
    }

    .m-link {
      margin: 30px 0 60px;

      a {
        margin: 0 auto;
      }
    }
  }
}

#privacy {
  .privacy-policy {
    .m-page-title {
      @extend %m-section-title___margin;
    }

    .m-card-title {
      padding-bottom: 10px;
      border-bottom: 1px solid $color-main;
      margin-bottom: 10px;
    }

    .u-m {
      line-height: 1.8;
    }

    .privacy-policy__item {
      margin-bottom: 25px;

      @media (--md) {
        margin-bottom: 35px;
      }
    }
  }
}

#error {
  @extend %m-section-title___margin;

  text-align: center;

  .u-m {
    margin: 15px 0;

    @media (--md) {
      margin: 30px 0;
    }
  }

  .m-link {
    a {
      margin: 0 auto;
    }
  }
}
