.breadcrumbs {
  display: flex;
  margin: 20px 0 65px;
  flex-wrap: wrap;
}

.post {
  background-color: #fff;
}

.post__main-image {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin: 0 -5%;

  @media (--sm) {
    margin: 0;
  }

  iframe {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.post__content {
  margin-top: 40px;
  font-size: 14px;

  @media (--sm) {
    font-size: 16px;
  }
}

.post__images {
  display: flex;
  justify-content: space-between;

  .image {
    margin-top: 20px;
    width: 48%;

    @media (--sm) {
      margin-top: 33px;
    }
  }
}

.post-internship {
  padding: 0 5vw 50px;
  background-color: #fff;

  @media (--sm) {
    padding: 0 30px 50px;
  }
}

.post-internship__main-image {
  @extend .post__main-image;

  margin: 0 -5vw;

  @media (--sm) {
    margin: 0 -30px;
  }
}

.post-internship__images {
  @extend .post__images;

  margin: 0 -5vw;

  @media (--sm) {
    margin: 0 -30px;
  }
}

.post-internship__title {
  margin-top: 30px;
  border-bottom: 3px solid $color-black;
  font-size: 16px;

  @media (--sm) {
    font-size: 21px;
  }
}

.post-internship__table {
  margin-top: 25px;
  font-size: 16px;

  @media (--sm) {
    font-size: 18px;
  }

  th,
  td {
    display: inline-block;
    vertical-align: top;
  }

  th {
    &::after {
      content: "／";
    }
  }

  td {
    max-width: 28.7em;
  }
}

.post-internship__button {
  display: block;
  width: 200px;
  margin: 35px auto 0;
  background-color: $color-black;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  text-align: center;

  @media (--sm) {
    font-size: 18px;
  }
}

.post-video {
  max-width: 1000px;
  margin: 0 auto;
}

.post-video-bottom {
  margin-top: 45px;
  padding: 20px 20px 40px;
  background-color: #fff;

  @media (--sm) {
    margin-top: 100px;
    padding: 70px 0;
  }
}

.post-video-bottom__inner {
  @extend .l-container;

  position: relative;
}

.post-video-bottom__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: .05em;

  @media (--sm) {
    font-size: 20px;
  }

  &::before {
    @extend .m-icon;

    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: .4em;
    background: linear-gradient(to top left, #f3f3f3 50%, $color-blue 50%) no-repeat top left/100% 100%;
    font-size: 22px;
    font-weight: normal;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0;
    content: "f";

    @media (--sm) {
      width: 35px;
      height: 35px;
      font-size: 28px;
      line-height: 35px;
    }
  }
}

.post-video-bottom__list {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    position: relative;
    width: 47.5%;
    height: 0;
    margin-top: 15px;
    padding-bottom: 36%;

    @media (--sm) {
      width: 23.5%;
      padding-bottom: 18%;
    }

    iframe {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }
}

.post-video-bottom__button {
  display: block;
  width: 91px;
  margin: 24px auto 0;
  padding: .3em 0 .25em;
  border: 3px solid $color-black;
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  letter-spacing: 0;

  @media (--sm) {
    position: absolute;
    top: 6px;
    right: 0;
    width: 92px;
    margin: 0;
    font-size: 14px;
  }
}

.post__subtitle,
.post-video__title {
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: bold;

  @media (--sm) {
    font-size: 18px;
  }
}

.sidebar-internship {
  padding: 25px 20px;
  background-color: #fff;

  @media (--md) {
    // background-color: #fff;
  }
}

.sidebar-internship__post-wrap {
  display: block;
}

.sidebar-internship__post {
  margin-top: 20px;
  background-color: #fff7bf;
  font-size: 14px;
  line-height: 1.5;
}

.sidebar-internship__post-header {
  margin-top: 20px;
  background-color: #ffe42a;
  font-size: 14px;
  line-height: 1.5;
}

.sidebar-internship__post-title {
  padding: 8px 25px 13px;
  background-color: #ffe42a;
  font-size: 18px;
  font-weight: bold;
}

.sidebar-internship__post-subtitle {
  width: 125px;
  padding: 1.5px 5px;
  background-color: #3e3a39;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.sidebar-internship__post-content {
  padding: 13px 25px;
}
